<h1><b>Użytkownicy</b></h1>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource"  (matSortChange)="onPageChange($event)" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th  mat-header-cell *matHeaderCellDef mat-sort-header> Imię i nazwisko </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="username">
    <th  mat-header-cell *matHeaderCellDef mat-sort-header> Login </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th  mat-header-cell *matHeaderCellDef mat-sort-header> Adres e-mail </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Numer telefonu </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator (page)="onPageChange($event)" class="paginator"  [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
